{% extends "sentry/groups/details.html" %}

{% load i18n crispy_forms_filters %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block inner %}
<div class="span12">
    <div class="page-header">
        <h3>{{ title }}</h3>
    </div>
    <p>This will create an issue in JIRA and create a link within the Sentry Event.</p>
    <br />
    <form class="form-horizontal" action="" method="post" id="jira_issue_form">
        <input type="hidden" value="0" id="changing_issuetype" name="changing_issuetype" />
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Create JIRA Issue" %}</button>
        </div>
    </form>
</div>
{% endblock %}

{% block content_after %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#id_issuetype").on("change", function(){
                // refresh the page with updated form based on issue type.
                $("#changing_issuetype").val("1");
                $("#jira_issue_form").submit();
            });
        });
    </script>

{% endblock %}