{% load i18n crispy_forms_filters %}

<form class="form" action="" method="post" id="jira_issue_form">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
    </div>
</form>

<link type="text/css" href="{% url sentry-media "sentry_jira" "select2/select2.css" %}" rel="stylesheet" />
<script type="text/javascript" src="{% url sentry-media "sentry_jira" "select2/select2.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#id_jira-default_project").select2({"width": "220px"});
    });
</script>